@model IEnumerable<WL_CapstonePrototype.Models.ScanSet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScanTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressSet.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GarbageSet.GarbageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScanTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressSet.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GarbageSet.GarbageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
