@model WL_CapstonePrototype.Models.GarbageSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GarbageSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GarbageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GarbageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GarbageDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GarbageDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
